@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

body {
  margin: 0px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.header {
  background-image: url(../images/football_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.8;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-container {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  fill: #ffffff;

  position: relative;
  z-index: 1;
}

.logo-container {
  margin-top: 50px;
}

.logo-image {
  width: 190px;
}

.logo-image, .surface-logo, .app-icon {
  fill: #ffffff; 
}

.header-title-container {
  margin-top: 290px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 90px;
  line-height: 100px;

  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
}

.header-text:last-child {
  padding-left: 450px;
}

.download-buttons {
  margin-top: 220px;
  margin-bottom: 110px;

  display: flex;
  flex-wrap: nowrap;
}

.download-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #5e42b0;
  border-radius: 50px;

  width: 305px;
}

.download-button:last-child {
  margin-left: 50px;
}

.app-icon {
  width: 40px;
}

.download-button-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;

  margin: 20px 0px 20px 30px;
  
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.store {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
}

/*main-container*/

.main-container {
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
}

.athlets {
  display: flex;
  justify-content: center;
}

.sport-content {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 100%;

  position: relative;
}

.athlet-post-image {
  position: absolute;
  top: 30px;
  padding-left: 10%;
}

.athlet-post {
  padding-left: 51%;
}

.post-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.post-content:nth-child(3) {
  background-color: #f6f4fa;
}

.athlet-growth {
  background-color: #5e42b0;
}

.player-growth {
  background-color: #0a0e34;
}

.posts-title {
  margin: 110px 0px 50px;
  font-size: 80px;
  line-height: 80px;
  
  text-transform: uppercase;
  color: #e7e7e7;
}

.player-growth-number {
  color: #8c6fde;
}

.player-growth-text {
  color: #ffffff;
}

.post-number {
  font-size: 18px;
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;

  position: relative;
}

.post-number::before {
  content: "";
  bottom: 5px;
  width: 20px;
  height: 4px;

  position: absolute;
  background: #5e42b0;
  border-radius: 20%;
}

.post-title {
  display: flex;
}

.post-title-text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #c1c1c1;
}
.post-text {
  width: 700px;
}

.post-text span {
  margin: 30px 0px 0px 0px;
  font-size: 20px;
}

.players {
  display: flex;
  justify-content: center;
}

.player-post-image {
  position: absolute;
  top: 30px;
  padding-left: 40%;
}

.player-image {
  width: 95%;
}

.player-post {
  padding-left: 180px;
}

/*Шаги по работе с тренером и командой*/

.step {
  display: flex;

  position: relative;
}

.steps-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;

  background-color: #5e42b0;

  position: absolute;
  right: calc(50% - 80px);
  top: 260px;
}

.steps-number span {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #f5f6f7;
}

.step-number {
  position: relative;
}

.step-number::before {
  content: "";
  bottom: -3px;
  width: 28px;
  height: 4px;

  position: absolute;
  background: #8f7bc8;
  border-radius: 20%;
}

.steps-image {
  width: 50%;
}

.step-image {
  width: 100%;
}

.steps-description {
  margin-top: 260px;
  padding-left: 130px;
  width: 50%;
  box-sizing: border-box;
}

.step-description span {
  margin: 120px 0px 0px 0px;
  width: 560px;
  
  font-size: 24px;
}

.step-title {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: #c1c1c1;
}

/* footer */
.footer {
  background-image: url(../images/game_1920.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.8;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  position: relative;

  z-index: 1;

  padding-top: 230px;
}

.footer-title {
  display: flex;
  flex-wrap: wrap;
}

.surface-logo {
  width: 100px;
  background-color: #684ac0;
  padding: 15px;
  border-radius: 20%;
}

.footer-text {
  display: flex;
  flex-direction: column;

  margin-left: 35px;
}

.download-app-title {
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Open Sans Bold';
}

.app-description {
  font-size: 30px;
  text-transform: uppercase;
  color: #a496ca;
}

.download-buttons-footer {
  display: flex;
  flex-wrap: wrap;

  margin-top: 150px;
}

.logo-container-footer {
  margin-top: 260px;
  margin-bottom: 50px;
}


@media (min-width: 641px) and (max-width: 960px) {

}

@media (max-width: 640px){
  
}