@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

body {
  margin: 0px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.8;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-container {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  fill: #ffffff;

  position: relative;
  z-index: 1;
}

.logo-image, .surface-logo, .app-icon {
 fill: #ffffff; 
}

.header-title-container {
  margin-top: 290px;
  text-transform: uppercase;
  color: #ffffff;
}

.header-text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
}

.header-text:last-child {
  padding-left: 450px;
}

.download-buttons {
  margin-top: 220px;

  display: flex;
  flex-wrap: nowrap;
}

.download-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #5e42b0;
  border-radius: 50px;
}

.download-button-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.store {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
}

.main-container {
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
}

.athlets {
  display: flex;
  justify-content: center;
}

.sport-content {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 100%;
}

.post-content:nth-child(3) {
  background-color: #f6f4fa;
}

.post-content:nth-child(4) {
  background-color: #5e42b0;
}

.posts-title {
  text-transform: uppercase;
  color: #e7e7e7;
}

.post-number {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;

  position: relative;
}

.post-number::before {
  content: "";

  position: absolute;
  background: #5e42b0;
  border-radius: 20%;
}

.post-title {
  display: flex;
}

.post-title-text {
  margin-top: 0px;
  margin-bottom: 0px;
  
  text-transform: uppercase;
  color: #c1c1c1;
}

.post-text {
  width: 50%;
}

.players {
  display: flex;
  justify-content: center;
}

.step {
  display: flex;
}

.steps-image {
  width: 50%;
}

.step-image {
  width: 100%;
}

.steps-description {
  width: 50%;
}

.step-title {
  margin-top: 0px;
  margin-bottom: 0px;
  
  text-transform: uppercase;
  color: #c1c1c1;
}

/* footer */
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.8;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  position: relative;

  z-index: 1;
}

.footer-title {
  display: flex;
  flex-wrap: wrap;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.download-app-title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Open Sans Bold';
}

.app-description {
  text-transform: uppercase;
  color: #a496ca;
}

.download-buttons-footer {
  display: flex;
  flex-wrap: wrap;
}


@media (min-width: 961px) and (max-width: 1920px) {
  .header {
    background-image: url(../images/football_1920.jpg);
  }

  .header-container {
    width: 1560px;
  }

  .logo-container {
    margin-top: 50px;
  }

  .logo-image {
    width: 190px;
  }
  
  .header-text {
    font-size: 90px;
    line-height: 100px;
  }

  .download-buttons {
    margin-bottom: 110px;
  }

  .download-button {
    width: 305px;
  }

  .download-button:last-child {
    margin-left: 50px;
  }

  .app-icon {
    width: 40px;
  }

  .download-button-text {
    margin: 20px 0px 20px 30px;
  }

  .athlets-images {
    margin-top: 30px;
  }

  .posts-title {
    margin: 110px 0px 50px;
    font-size: 80px;
    line-height: 80px;
  }

  .post-content {
    padding: 60px 0px;
  }


  .post-number {
    font-size: 18px;
  }

  .post-number::before {
    bottom: -8px;
    width: 20px;
    height: 4px;
  }

  .post-title-text {
    margin-left: 12px;
    font-size: 36px;
    line-height: 36px;
  }

  .post-text p {
    margin: 30px 0px 0px 0px;
    font-size: 20px;
  }

  .steps-description {
    margin: 260px 0 0 130px;
  }

  .step-title {
    font-size: 80px;
    line-height: 80px;
  }

  .step-description p {
    margin: 120px 0px 0px 0px;
    width: 560px;
    
    font-size: 24px;
  }

/*footer*/

  .footer {
    background-image: url(../images/game_1920.jpg);
  }

  .footer-container {
    padding-top: 230px;
  }

  .footer-text {
    margin-left: 35px;
  }

  .download-app-title {
    font-size: 80px;
    line-height: 80px;
  }

  .app-description {
    font-size: 30px;
  }

  .surface-logo {
    width: 100px;
    background-color: #684ac0;
    padding: 15px;
    border-radius: 20%;
  }

  .download-buttons-footer {
    margin-top: 150px;
  }

  .logo-container-footer {
    margin-top: 260px;
    margin-bottom: 50px;
  }
}